doctype html

html
    h1 Hello?
    p You have stumbled upon the AquaSafe20XX API endpoint. You should not be here unless you are wanting to mess around
    | with the api that has been made for this project as part of the 2021 PA Media and Design competition.
    h6 Kilroy was here!
